:root{
   --black-bg: #1B1B1B;
   --black-nav: #27282C;
   --kt-20: rgba(255,255,255,0.2);
   --kt-50:  rgba(255,255,255,0.5);
   --purple: #7F52FF;
   --w0: rgba(0,0,0,0);
   width: 100%
}

*{
    font-family: sans-serif;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

html, body {
    height: 100%
  }

body{
    background-color: var(--black-bg);
    display: flex;
    align-items: stretch;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    width: 100%;
    min-height: calc(100% - 64px);
    align-items: stretch;
}


/* Navigation */

.nav{
    display: flex;
    margin: 0;
    padding: 0 32px;
    width: calc(100% - 64px);
}

nav{
    width: calc(100% - 64px) !important;
    background-color: var(--black-nav);
}

.nav .selected{
    border-bottom: 2px solid white;
    padding-bottom: 10px;
}

.nav a {
    padding: 12px 16px;
}


/* Sidebar */
.sidebar{
    display: flex;
    flex-direction: column;
    min-width: 252px;
    height: calc(100% - 8px);
    border-right: 1px solid var(--kt-20);
    padding-top: 8px;
}

.sidebar div{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sidebar div p{
    padding: 0 0 0 12px;
    color: var(--kt-50);
    font-size: 13px;
}

.sidebar div button:not(.btn-round), .add{
    padding: 0 0 0 32px;
    justify-content: flex-start;
    background-color: var(--black-bg);
    border-radius: 0;
    width: 100%;
}

.sidebar .active{
    background-color: white !important;
    color: black;
}

.sidebar .active *{
    background-color: white !important;
    color: black;
}

.snip-item{
    display: flex;
    justify-content: space-between;
    max-height: 40px;
    flex-direction: row !important;
    position: relative;
}

.snip-item .btn-round{
    display: none;
}

.snip-item:hover > .btn-round{
    display: flex;
}

.sub-menu{
    display: flex;
    flex-direction: column;
    max-width: 168px;
    position: absolute;
    top:40px;
    left: 212px;
    z-index: 2;    
    border: 1px solid var(--kt-20);
}

.sub-menu *{
    background-color: white !important;
    color: black;
}

.sub-menu button:hover{
    background-color: #dadada !important;
    filter: none;
}



/* Bot */
.container-bot{
    margin: auto 0 24px 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.signin p{
    padding: 0 !important;
    margin: 0 !important;
}

.signin a{
    border-radius: 20px;
    padding: 0 20px !important;
}

.signout{
    margin: auto 0 12px 0;
    flex-direction: row !important;
    padding: 0 12px;
    gap: 4px;
    justify-content: space-between;
    width: auto !important;
}

.signout p {
    width: 100%;
    padding: 0 !important;
    margin: 4px 0 0 0 !important;
}


/* Editor */
.editor{
    width: 100%;
}

.editor-nav{
    border-bottom: 1px solid var(--kt-20);
    padding: 12px 32px;
}

#run{
    background-color: var(--purple);
}

.editor-container{
    display: flex;
    height: calc(100% - 65px);
    /* background-image: url("./img/rkKXlz.jpeg"); */
}

.editor-container * {
    padding: 24px 0  0 24px;
    margin: 0;
}

.editor-container p{
    font-family: 'Courier New', Courier, monospace;
    line-height: 24px;
    color: var(--kt-50);
}

textarea{
    background-color: rgba(0,0,0,0.0);
    min-height: calc(100% - 64px - 65px);
    width: 100%;
    
    font-family: 'Courier New', Courier, monospace;
    line-height: 24px;
    color: #bababa;

    border: none;
    resize: none;
}


/* Components */
.text-3{
    font-size: 16px !important;
    line-height: 24px !important;
}

h3{
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    margin: 0;
}

a{
    height: 40px;
    background-color: var(--black-nav);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}


button{
    background-color: var(--black-bg);
    border-radius: 20px;
    height: 40px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    padding: 0 20px;
    white-space: nowrap;
}

button:hover, a:hover{
    filter: brightness(1.5);
    /* background-color: red; */
}

.btn-round{
    padding: 7px !important;
    min-width: 40px;
    border-radius: 20px !important;
}

.btn-border{
    border: 1px solid var(--kt-20);
}


input{
    background-color: var(--black-nav);
    border: 1px solid var(--kt-20);
    display: flex;
    padding: 0 0 0 8px;
    color: var(--kt-50);
}


textarea:active, textarea:focus{
    outline: none;
}


#help{
    position: fixed;
    bottom: 12px;
    right: 12px;
}


/* Modals */
.shade {
    position: fixed; 
    display:flex; 
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.56);
    z-index: 3;
}

.dialogue-box{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: auto;
    padding: 24px;
    gap: 48px;
    width: 504px;
}

.dialogue-box p, .dialogue-box h3{
    color: black !important;
}


.notification{
    position: fixed;
    right: 56px;
    bottom: 12px;
    border: 1px solid var(--kt-20);
    border-radius: 8px;
    background-color: var(--black-nav);
    padding: 0px 16px;
    display: flex;
    width: 460px;
}

.notification p{
    margin: 12px  auto 12px 0;
    padding-top: 2px;
}

.notification button{
    margin: auto 12px;
}

.notification img{
    animation: rotate 1s infinite;
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(359deg);  }
  }


/* JS */
.hide, .hide *{
    display: none !important;
}

